In [1]:
import pandas as pd

# import data

In [2]:
train_identity = pd.read_csv('~/data/train_identity.csv')
train_transaction = pd.read_csv('~/data/train_transaction.csv')
test_identity = pd.read_csv('~/data/test_identity.csv')
test_transaction = pd.read_csv('~/data/test_transaction.csv')
sample = pd.read_csv('~/data/sample_submission.csv')

In [3]:
print('train_transaction shape is {}'.format(train_transaction.shape))
print('test_transaction shape is {}'.format(test_transaction.shape))
print('train_identity shape is {}'.format(train_identity.shape))
print('test_identity shape is {}'.format(test_identity.shape))

train_transaction shape is (590540, 394)
test_transaction shape is (506691, 393)
train_identity shape is (144233, 41)
test_identity shape is (141907, 41)

In [4]:
list(set(train_transaction.columns) - set(test_transaction.columns))

['isFraud']

In [5]:
train_transaction = train_transaction.drop('isFraud', axis=1)

In [6]:
test_identity.columns = ['TransactionID','id_01', 'id_02', 'id_03', 'id_04', 'id_05', 'id_06', 'id_07', 'id_08',
       'id_09', 'id_10', 'id_11', 'id_12', 'id_13', 'id_14', 'id_15', 'id_16',
       'id_17', 'id_18', 'id_19', 'id_20', 'id_21', 'id_22', 'id_23', 'id_24',
       'id_25', 'id_26', 'id_27', 'id_28', 'id_29', 'id_30', 'id_31', 'id_32',
       'id_33', 'id_34', 'id_35', 'id_36', 'id_37', 'id_38', 'DeviceType',
       'DeviceInfo']

In [7]:
transaction_data = pd.concat([train_transaction, test_transaction])
identity_data = pd.concat([train_identity, test_identity])

In [8]:
print('transaction_data shape is {}'.format(transaction_data.shape))
print('identity_data shape is {}'.format(identity_data.shape))

transaction_data shape is (1097231, 393)
identity_data shape is (286140, 41)

# clean data

## Create a list of numerical and categorical features

### in identity_data

In [43]:
# create a list of numerical features
# create a list of categorical features

c = (identity_data.dtypes == 'object')
n = (identity_data.dtypes != 'object')
cat_id_cols = list(c[c].index)
num_id_cols = list(n[n].index) 

print(cat_id_cols, "\n")
print("number categorical identity features: ", len(cat_id_cols), "\n\n")
print(num_id_cols, "\n")
print("number numerical identity features: ", len(num_id_cols))

['id_12', 'id_15', 'id_16', 'id_23', 'id_27', 'id_28', 'id_29', 'id_30', 'id_31', 'id_33', 'id_34', 'id_35', 'id_36', 'id_37', 'id_38', 'DeviceType', 'DeviceInfo']

number categorical identity features:  17


['TransactionID', 'id_01', 'id_02', 'id_03', 'id_04', 'id_05', 'id_06', 'id_09', 'id_10', 'id_11', 'id_13', 'id_14', 'id_17', 'id_19', 'id_20', 'id_32']

number numerical identity features:  16

### in transaction_data

In [44]:
# create a list of numerical features
# create a list of categorical features

c = (transaction_data.dtypes == 'object')
n = (transaction_data.dtypes != 'object')
cat_trans_cols = list(c[c].index)
num_trans_cols = list(n[n].index) 

print(cat_trans_cols, "\n")
print("number categorical transaction features: ", len(cat_trans_cols), "\n\n")
print(num_trans_cols, "\n")

['ProductCD', 'card4', 'card6', 'P_emaildomain', 'R_emaildomain', 'M1', 'M2', 'M3', 'M4', 'M5', 'M6', 'M7', 'M8', 'M9']

number categorical transaction features:  14


['TransactionID', 'TransactionDT', 'TransactionAmt', 'card1', 'card2', 'card3', 'card5', 'addr1', 'addr2', 'dist1', 'dist2', 'C1', 'C2', 'C3', 'C4', 'C5', 'C6', 'C7', 'C8', 'C9', 'C10', 'C11', 'C12', 'C13', 'C14', 'D1', 'D2', 'D3', 'D4', 'D5', 'D6', 'D7', 'D8', 'D9', 'D10', 'D11', 'D12', 'D13', 'D14', 'D15', 'V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10', 'V11', 'V12', 'V13', 'V14', 'V15', 'V16', 'V17', 'V18', 'V19', 'V20', 'V21', 'V22', 'V23', 'V24', 'V25', 'V26', 'V27', 'V28', 'V29', 'V30', 'V31', 'V32', 'V33', 'V34', 'V35', 'V36', 'V37', 'V38', 'V39', 'V40', 'V41', 'V42', 'V43', 'V44', 'V45', 'V46', 'V47', 'V48', 'V49', 'V50', 'V51', 'V52', 'V53', 'V54', 'V55', 'V56', 'V57', 'V58', 'V59', 'V60', 'V61', 'V62', 'V63', 'V64', 'V65', 'V66', 'V67', 'V68', 'V69', 'V70', 'V71', 'V72', 'V73', 'V74', 'V75', 'V76', 'V77', 'V78', 'V79', 'V80', 'V81', 'V82', 'V83', 'V84', 'V85', 'V86', 'V87', 'V88', 'V89', 'V90', 'V91', 'V92', 'V93', 'V94', 'V95', 'V96', 'V97', 'V98', 'V99', 'V100', 'V101', 'V102', 'V103', 'V104', 'V105', 'V106', 'V107', 'V108', 'V109', 'V110', 'V111', 'V112', 'V113', 'V114', 'V115', 'V116', 'V117', 'V118', 'V119', 'V120', 'V121', 'V122', 'V123', 'V124', 'V125', 'V126', 'V127', 'V128', 'V129', 'V130', 'V131', 'V132', 'V133', 'V134', 'V135', 'V136', 'V137', 'V138', 'V139', 'V140', 'V141', 'V142', 'V143', 'V144', 'V145', 'V146', 'V147', 'V148', 'V149', 'V150', 'V151', 'V152', 'V153', 'V154', 'V155', 'V156', 'V157', 'V158', 'V159', 'V160', 'V161', 'V162', 'V163', 'V164', 'V165', 'V166', 'V167', 'V168', 'V169', 'V170', 'V171', 'V172', 'V173', 'V174', 'V175', 'V176', 'V177', 'V178', 'V179', 'V180', 'V181', 'V182', 'V183', 'V184', 'V185', 'V186', 'V187', 'V188', 'V189', 'V190', 'V191', 'V192', 'V193', 'V194', 'V195', 'V196', 'V197', 'V198', 'V199', 'V200', 'V201', 'V202', 'V203', 'V204', 'V205', 'V206', 'V207', 'V208', 'V209', 'V210', 'V211', 'V212', 'V213', 'V214', 'V215', 'V216', 'V217', 'V218', 'V219', 'V220', 'V221', 'V222', 'V223', 'V224', 'V225', 'V226', 'V227', 'V228', 'V229', 'V230', 'V231', 'V232', 'V233', 'V234', 'V235', 'V236', 'V237', 'V238', 'V239', 'V240', 'V241', 'V242', 'V243', 'V244', 'V245', 'V246', 'V247', 'V248', 'V249', 'V250', 'V251', 'V252', 'V253', 'V254', 'V255', 'V256', 'V257', 'V258', 'V259', 'V260', 'V261', 'V262', 'V263', 'V264', 'V265', 'V266', 'V267', 'V268', 'V269', 'V270', 'V271', 'V272', 'V273', 'V274', 'V275', 'V276', 'V277', 'V278', 'V279', 'V280', 'V281', 'V282', 'V283', 'V284', 'V285', 'V286', 'V287', 'V288', 'V289', 'V290', 'V291', 'V292', 'V293', 'V294', 'V295', 'V296', 'V297', 'V298', 'V299', 'V300', 'V301', 'V302', 'V303', 'V304', 'V305', 'V306', 'V307', 'V308', 'V309', 'V310', 'V311', 'V312', 'V313', 'V314', 'V315', 'V316', 'V317', 'V318', 'V319', 'V320', 'V321', 'V322', 'V323', 'V324', 'V325', 'V326', 'V327', 'V328', 'V329', 'V330', 'V331', 'V332', 'V333', 'V334', 'V335', 'V336', 'V337', 'V338', 'V339']

## create low, medium, many missing values

### for identity

#### for cat

In [45]:
low_missing_cat_id_cols = []      # lower than 15% missing values
medium_missing_cat_id_cols = []   # between 15% and 60% missing
many_missing_cat_id_cols = []     # more than 60% missing

for i in cat_id_cols:
    percentage = identity_data[i].isnull().sum() * 100 / len(identity_data[i])
    if percentage < 15:
        low_missing_cat_id_cols.append(i)
    elif percentage >= 15 and percentage < 60:
        medium_missing_cat_id_cols.append(i)
    else:
        many_missing_cat_id_cols.append(i)

#### for num

In [46]:
low_missing_num_id_cols = []      # lower than 15% missing values
medium_missing_num_id_cols = []   # between 15% and 60% missing
many_missing_num_id_cols = []     # more than 60% missing

for i in num_id_cols:
    percentage = identity_data[i].isnull().sum() * 100 / len(identity_data[i])
    if percentage < 15:
        low_missing_num_id_cols.append(i)
    elif percentage >= 15 and percentage < 60:
        medium_missing_num_id_cols.append(i)
    else:
        many_missing_num_id_cols.append(i)

### for transaction

#### for cat

In [47]:
low_missing_cat_trans_cols = []      # lower than 15% missing values
medium_missing_cat_trans_cols = []   # between 15% and 60% missing
many_missing_cat_trans_cols = []     # more than 60% missing

for i in cat_trans_cols:
    percentage = transaction_data[i].isnull().sum() * 100 / len(transaction_data[i])
    if percentage < 15:
        low_missing_cat_trans_cols.append(i)
    elif percentage >= 15 and percentage < 60:
        medium_missing_cat_trans_cols.append(i)
    else:
        many_missing_cat_trans_cols.append(i)

#### for num

In [48]:
low_missing_num_trans_cols = []      # lower than 15% missing values
medium_missing_num_trans_cols = []   # between 15% and 60% missing
many_missing_num_trans_cols = []     # more than 60% missing

for i in num_trans_cols:
    percentage = transaction_data[i].isnull().sum() * 100 / len(transaction_data[i])
    if percentage < 15:
        low_missing_num_trans_cols.append(i)
    elif percentage >= 15 and percentage < 60:
        medium_missing_num_trans_cols.append(i)
    else:
        many_missing_num_trans_cols.append(i)

## Clean NUMERICAL features

### drop features with many missing values

#### for identity

In [49]:
print("shape before dropping num_id_cols: ", identity_data.shape, "\n")        
identity_data = identity_data.drop(columns = many_missing_num_id_cols)
print("shape after dropping num_id_cols: ", identity_data.shape, "\n")

shape before dropping num_id_cols:  (286140, 33)

shape after dropping num_id_cols:  (286140, 33)

#### for transaction

In [50]:
print("shape before dropping num_trans_cols: ", transaction_data.shape, "\n")        
transaction_data = transaction_data.drop(columns = many_missing_num_trans_cols)
print("shape after dropping num_trans_cols: ", transaction_data.shape, "\n\n")

shape before dropping num_trans_cols:  (1097231, 393)

shape after dropping num_trans_cols:  (1097231, 226)

### Impute features with low missing values

#### for identity

In [53]:
print("index before imputation: ", identity_data.index, "\n")
print("columns before imputation: ", identity_data.columns, "\n")


my_imputer = SimpleImputer(strategy = 'mean') 
my_imputer.fit(identity_data[low_missing_num_id_cols])
identity_data[low_missing_num_id_cols] = my_imputer.transform(identity_data[low_missing_num_id_cols])

print("index after imputation: ", identity_data.index, "\n")
print("columns after imputation: ", identity_data.columns, "\n")

index before imputation:  Int64Index([     0,      1,      2,      3,      4,      5,      6,      7,
                 8,      9,
            ...
            141897, 141898, 141899, 141900, 141901, 141902, 141903, 141904,
            141905, 141906],
           dtype='int64', length=286140)

columns before imputation:  Index(['TransactionID', 'id_01', 'id_02', 'id_03', 'id_04', 'id_05', 'id_06',
       'id_09', 'id_10', 'id_11', 'id_12', 'id_13', 'id_14', 'id_15', 'id_16',
       'id_17', 'id_19', 'id_20', 'id_23', 'id_27', 'id_28', 'id_29', 'id_30',
       'id_31', 'id_32', 'id_33', 'id_34', 'id_35', 'id_36', 'id_37', 'id_38',
       'DeviceType', 'DeviceInfo'],
      dtype='object')

index after imputation:  Int64Index([     0,      1,      2,      3,      4,      5,      6,      7,
                 8,      9,
            ...
            141897, 141898, 141899, 141900, 141901, 141902, 141903, 141904,
            141905, 141906],
           dtype='int64', length=286140)

columns after imputation:  Index(['TransactionID', 'id_01', 'id_02', 'id_03', 'id_04', 'id_05', 'id_06',
       'id_09', 'id_10', 'id_11', 'id_12', 'id_13', 'id_14', 'id_15', 'id_16',
       'id_17', 'id_19', 'id_20', 'id_23', 'id_27', 'id_28', 'id_29', 'id_30',
       'id_31', 'id_32', 'id_33', 'id_34', 'id_35', 'id_36', 'id_37', 'id_38',
       'DeviceType', 'DeviceInfo'],
      dtype='object')

#### for transaction

In [52]:
from sklearn.impute import SimpleImputer

print("index before imputation: ", transaction_data.index, "\n")
print("columns before imputation: ", transaction_data.columns, "\n")

my_imputer = SimpleImputer(strategy = 'mean') 
my_imputer.fit(transaction_data[low_missing_num_trans_cols])
transaction_data[low_missing_num_trans_cols] = my_imputer.transform(transaction_data[low_missing_num_trans_cols])

print("index after imputation: ", transaction_data.index, "\n")
print("columns after imputation: ", transaction_data.columns, "\n")

index before imputation:  Int64Index([     0,      1,      2,      3,      4,      5,      6,      7,
                 8,      9,
            ...
            506681, 506682, 506683, 506684, 506685, 506686, 506687, 506688,
            506689, 506690],
           dtype='int64', length=1097231)

columns before imputation:  Index(['TransactionID', 'TransactionDT', 'TransactionAmt', 'ProductCD',
       'card1', 'card2', 'card3', 'card4', 'card5', 'card6',
       ...
       'V312', 'V313', 'V314', 'V315', 'V316', 'V317', 'V318', 'V319', 'V320',
       'V321'],
      dtype='object', length=226)

index after imputation:  Int64Index([     0,      1,      2,      3,      4,      5,      6,      7,
                 8,      9,
            ...
            506681, 506682, 506683, 506684, 506685, 506686, 506687, 506688,
            506689, 506690],
           dtype='int64', length=1097231)

columns after imputation:  Index(['TransactionID', 'TransactionDT', 'TransactionAmt', 'ProductCD',
       'card1', 'card2', 'card3', 'card4', 'card5', 'card6',
       ...
       'V312', 'V313', 'V314', 'V315', 'V316', 'V317', 'V318', 'V319', 'V320',
       'V321'],
      dtype='object', length=226)

### impute features with medium missing values

#### for identity

In [55]:
print("index before imputation: ", identity_data.index, "\n")
print("columns before imputation: ", identity_data.columns, "\n")


my_imputer = SimpleImputer(strategy = 'median') 
my_imputer.fit(identity_data[medium_missing_num_id_cols])

print("values before imputing: ", identity_data[medium_missing_num_id_cols], "\n")

identity_data[medium_missing_num_id_cols] = my_imputer.transform(identity_data[medium_missing_num_id_cols])

print("index after imputation: ", identity_data.index, "\n")
print("columns after imputation: ", identity_data.columns, "\n")

index before imputation:  Int64Index([     0,      1,      2,      3,      4,      5,      6,      7,
                 8,      9,
            ...
            141897, 141898, 141899, 141900, 141901, 141902, 141903, 141904,
            141905, 141906],
           dtype='int64', length=286140)

columns before imputation:  Index(['TransactionID', 'id_01', 'id_02', 'id_03', 'id_04', 'id_05', 'id_06',
       'id_09', 'id_10', 'id_11', 'id_12', 'id_13', 'id_14', 'id_15', 'id_16',
       'id_17', 'id_19', 'id_20', 'id_23', 'id_27', 'id_28', 'id_29', 'id_30',
       'id_31', 'id_32', 'id_33', 'id_34', 'id_35', 'id_36', 'id_37', 'id_38',
       'DeviceType', 'DeviceInfo'],
      dtype='object')

values before imputing:          id_03  id_04  id_09  id_10  id_14  id_32
0         NaN    NaN    NaN    NaN -480.0   32.0
1         NaN    NaN    NaN    NaN -300.0   32.0
2         0.0    0.0    0.0    0.0    NaN    NaN
3         NaN    NaN    NaN    NaN    NaN    NaN
4         0.0    0.0    0.0    0.0 -300.0   24.0
5         3.0    0.0    3.0    0.0 -300.0   24.0
6         NaN    NaN    NaN    NaN    NaN    NaN
7         0.0    0.0    0.0    0.0 -300.0   32.0
8         0.0    0.0    0.0    0.0    NaN    NaN
9         NaN    NaN    NaN    NaN    NaN    NaN
10        NaN    NaN    NaN    NaN    NaN    NaN
11        NaN    NaN    NaN    NaN -300.0   32.0
12        0.0    0.0    0.0    0.0 -360.0   24.0
13        0.0    0.0    0.0    0.0 -300.0   32.0
14        NaN    NaN    NaN    NaN -300.0   32.0
15        NaN    NaN    NaN    NaN    NaN    NaN
16        NaN    NaN    NaN    NaN    NaN    NaN
17        NaN    NaN    NaN    NaN    NaN    NaN
18        NaN    NaN    0.0    0.0 -300.0   24.0
19        0.0    0.0    0.0    0.0 -300.0   32.0
20        NaN    NaN    NaN    NaN -300.0   32.0
21        0.0    0.0    0.0    0.0 -300.0   24.0
22        0.0    0.0    0.0    0.0 -300.0   32.0
23        NaN    NaN    NaN    NaN    NaN    NaN
24        NaN    NaN    NaN    NaN    NaN    NaN
25        NaN    NaN    0.0    0.0    NaN    NaN
26        0.0    0.0    0.0    0.0    NaN    NaN
27        0.0    0.0    0.0    0.0 -480.0   24.0
28        2.0    0.0    2.0    0.0 -300.0   24.0
29        2.0    0.0    2.0    0.0 -300.0   24.0
...       ...    ...    ...    ...    ...    ...
141877    0.0    0.0    0.0    0.0    NaN    NaN
141878    NaN    NaN    NaN    NaN    NaN    NaN
141879    0.0    0.0    0.0    0.0 -480.0   24.0
141880    NaN    NaN    NaN    NaN -360.0   32.0
141881    0.0    0.0    0.0    0.0 -480.0   24.0
141882    0.0    0.0    1.0    0.0 -300.0   24.0
141883    NaN    NaN    NaN    NaN    NaN    NaN
141884    NaN    NaN    NaN    NaN    NaN    NaN
141885    0.0    0.0    0.0    0.0    NaN    NaN
141886    0.0    0.0    0.0    0.0    NaN    NaN
141887    0.0    0.0    0.0    0.0    NaN    NaN
141888    NaN    NaN    NaN    NaN    NaN    NaN
141889    NaN    NaN    NaN    NaN -360.0   32.0
141890    NaN    NaN    NaN    NaN    NaN    NaN
141891    NaN    NaN    NaN    NaN    NaN    NaN
141892    0.0    0.0    0.0    0.0    NaN    NaN
141893    0.0    0.0    0.0    0.0 -420.0   24.0
141894    NaN    NaN    NaN    NaN    NaN    NaN
141895    0.0    0.0    0.0    0.0    NaN    NaN
141896    NaN    NaN    NaN    NaN    NaN    NaN
141897    NaN    NaN    NaN    NaN    NaN    NaN
141898    NaN    NaN    NaN    NaN    NaN    NaN
141899    0.0    0.0    0.0    0.0    NaN    NaN
141900    0.0    0.0    0.0    0.0    NaN    NaN
141901    NaN    NaN    NaN    NaN    NaN    NaN
141902    NaN    NaN    NaN    NaN    NaN    NaN
141903    0.0    0.0    0.0    0.0    NaN    NaN
141904    NaN    NaN    NaN    NaN -300.0   32.0
141905    NaN    NaN    NaN    NaN    NaN    NaN
141906    0.0    0.0    0.0    0.0    NaN    NaN

[286140 rows x 6 columns]

index after imputation:  Int64Index([     0,      1,      2,      3,      4,      5,      6,      7,
                 8,      9,
            ...
            141897, 141898, 141899, 141900, 141901, 141902, 141903, 141904,
            141905, 141906],
           dtype='int64', length=286140)

columns after imputation:  Index(['TransactionID', 'id_01', 'id_02', 'id_03', 'id_04', 'id_05', 'id_06',
       'id_09', 'id_10', 'id_11', 'id_12', 'id_13', 'id_14', 'id_15', 'id_16',
       'id_17', 'id_19', 'id_20', 'id_23', 'id_27', 'id_28', 'id_29', 'id_30',
       'id_31', 'id_32', 'id_33', 'id_34', 'id_35', 'id_36', 'id_37', 'id_38',
       'DeviceType', 'DeviceInfo'],
      dtype='object')

#### for transaction

In [54]:
print("index before imputation: ", transaction_data.index, "\n")
print("columns before imputation: ", transaction_data.columns, "\n")

print("values before imputing: ", transaction_data[medium_missing_num_trans_cols], "\n")

my_imputer = SimpleImputer(strategy = 'median') 
my_imputer.fit(transaction_data[medium_missing_num_trans_cols])

transaction_data[medium_missing_num_trans_cols] = my_imputer.transform(transaction_data[medium_missing_num_trans_cols])

print("index after imputation: ", transaction_data.index, "\n")
print("columns after imputation: ", transaction_data.columns, "\n")

index before imputation:  Int64Index([     0,      1,      2,      3,      4,      5,      6,      7,
                 8,      9,
            ...
            506681, 506682, 506683, 506684, 506685, 506686, 506687, 506688,
            506689, 506690],
           dtype='int64', length=1097231)

columns before imputation:  Index(['TransactionID', 'TransactionDT', 'TransactionAmt', 'ProductCD',
       'card1', 'card2', 'card3', 'card4', 'card5', 'card6',
       ...
       'V312', 'V313', 'V314', 'V315', 'V316', 'V317', 'V318', 'V319', 'V320',
       'V321'],
      dtype='object', length=226)

values before imputing:          dist1     D2     D3     D4     D5    D11   V1   V2   V3   V4  ...  \
0        19.0    NaN   13.0    NaN    NaN   13.0  1.0  1.0  1.0  1.0  ...
1         NaN    NaN    NaN    0.0    NaN    NaN  NaN  NaN  NaN  NaN  ...
2       287.0    NaN    NaN    0.0    NaN  315.0  1.0  1.0  1.0  1.0  ...
3         NaN  112.0    0.0   94.0    0.0    NaN  NaN  NaN  NaN  NaN  ...
4         NaN    NaN    NaN    NaN    NaN    NaN  NaN  NaN  NaN  NaN  ...
5        36.0    NaN    NaN    0.0    NaN    0.0  1.0  1.0  1.0  1.0  ...
6         0.0    NaN    NaN    0.0    NaN    0.0  1.0  1.0  1.0  1.0  ...
7         NaN    NaN    NaN    0.0    NaN    NaN  NaN  NaN  NaN  NaN  ...
8         NaN    NaN    NaN    NaN    NaN    NaN  NaN  NaN  NaN  NaN  ...
9        19.0   61.0   30.0  318.0   30.0  302.0  1.0  1.0  1.0  1.0  ...
10        NaN    1.0    0.0    0.0    0.0    NaN  NaN  NaN  NaN  NaN  ...
11        NaN    NaN    NaN    0.0    NaN    NaN  NaN  NaN  NaN  NaN  ...
12        NaN   72.0   11.0  107.0   11.0    NaN  NaN  NaN  NaN  NaN  ...
13        NaN   46.0   10.0   45.0   10.0    NaN  NaN  NaN  NaN  NaN  ...
14        NaN    NaN    NaN    0.0    NaN    NaN  NaN  NaN  NaN  NaN  ...
15        3.0    NaN    NaN    NaN    NaN  423.0  1.0  1.0  1.0  1.0  ...
16        NaN    NaN    NaN    NaN    NaN    NaN  NaN  NaN  NaN  NaN  ...
17        NaN    NaN    NaN    NaN    NaN    NaN  NaN  NaN  NaN  NaN  ...
18        5.0    NaN    NaN    0.0    NaN  237.0  1.0  1.0  1.0  1.0  ...
19        NaN   62.0    2.0   35.0    2.0    NaN  NaN  NaN  NaN  NaN  ...
20        0.0    NaN    NaN    0.0    NaN    0.0  1.0  1.0  1.0  1.0  ...
21        NaN  485.0    3.0  358.0   40.0    NaN  NaN  NaN  NaN  NaN  ...
22        NaN    NaN    NaN    NaN    NaN    NaN  NaN  NaN  NaN  NaN  ...
23        4.0    NaN    NaN    0.0    NaN    0.0  1.0  1.0  1.0  1.0  ...
24        NaN   66.0   35.0   65.0   35.0    NaN  NaN  NaN  NaN  NaN  ...
25        NaN    NaN    NaN   24.0    1.0    NaN  NaN  NaN  NaN  NaN  ...
26        NaN    NaN    NaN  244.0   90.0    NaN  NaN  NaN  NaN  NaN  ...
27       17.0    NaN    NaN   35.0   35.0   35.0  1.0  1.0  1.0  1.0  ...
28        NaN    1.0    0.0    NaN    NaN    NaN  NaN  NaN  NaN  NaN  ...
29        NaN    NaN    NaN    0.0    NaN    NaN  NaN  NaN  NaN  NaN  ...
...       ...    ...    ...    ...    ...    ...  ...  ...  ...  ...  ...
506661    NaN    NaN    NaN    0.0    NaN    NaN  NaN  NaN  NaN  NaN  ...
506662    NaN    NaN    NaN    0.0    NaN    0.0  1.0  1.0  1.0  1.0  ...
506663   66.0    NaN    NaN    NaN    NaN   14.0  1.0  1.0  1.0  0.0  ...
506664  153.0   33.0    2.0  300.0    2.0  300.0  1.0  1.0  1.0  1.0  ...
506665    NaN    NaN    NaN    0.0    NaN    NaN  NaN  NaN  NaN  NaN  ...
506666    NaN   80.0   29.0  344.0   17.0    0.0  1.0  1.0  1.0  1.0  ...
506667    9.0   29.0    0.0   29.0    0.0   29.0  1.0  1.0  1.0  1.0  ...
506668    8.0   70.0    5.0   18.0    5.0  138.0  1.0  1.0  1.0  1.0  ...
506669   13.0   10.0   10.0   10.0   10.0   10.0  1.0  1.0  1.0  1.0  ...
506670    NaN  434.0   11.0  434.0  402.0    NaN  NaN  NaN  NaN  NaN  ...
506671    NaN    NaN    NaN    0.0    NaN    NaN  NaN  NaN  NaN  NaN  ...
506672    NaN  270.0  270.0    0.0    NaN    0.0  1.0  1.0  1.0  1.0  ...
506673   11.0  494.0    6.0  318.0    6.0  297.0  1.0  1.0  1.0  1.0  ...
506674    NaN    NaN    NaN    0.0    NaN    NaN  NaN  NaN  NaN  NaN  ...
506675    NaN    NaN    NaN    0.0    NaN    NaN  NaN  NaN  NaN  NaN  ...
506676    NaN    NaN    NaN    0.0    NaN    NaN  NaN  NaN  NaN  NaN  ...
506677    NaN   80.0   21.0  233.0  177.0    NaN  NaN  NaN  NaN  NaN  ...
506678    NaN    NaN    NaN    0.0    NaN    0.0  1.0  1.0  1.0  1.0  ...
506679    NaN    4.0    4.0    5.0    4.0    NaN  NaN  NaN  NaN  NaN  ...
506680    NaN   32.0   29.0   32.0   29.0    NaN  NaN  NaN  NaN  NaN  ...
506681    NaN    NaN    NaN    0.0    NaN    NaN  NaN  NaN  NaN  NaN  ...
506682    9.0   29.0    0.0   29.0    0.0   29.0  1.0  1.0  1.0  1.0  ...
506683    0.0  620.0   13.0    0.0    NaN  546.0  1.0  1.0  1.0  1.0  ...
506684    NaN  373.0    1.0    0.0    NaN    NaN  NaN  NaN  NaN  NaN  ...
506685    NaN    NaN    NaN    0.0    NaN    NaN  NaN  NaN  NaN  NaN  ...
506686    NaN    NaN    NaN    0.0    NaN    NaN  NaN  NaN  NaN  NaN  ...
506687    NaN   16.0   16.0   16.0   16.0    NaN  NaN  NaN  NaN  NaN  ...
506688    NaN    NaN    NaN    0.0    NaN    0.0  1.0  1.0  1.0  1.0  ...
506689    NaN    NaN    NaN    0.0    NaN    0.0  1.0  1.0  1.0  1.0  ...
506690    NaN    NaN    NaN    0.0    NaN    NaN  NaN  NaN  NaN  NaN  ...

        V43  V44  V45  V46  V47  V48  V49  V50  V51  V52
0       NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1       0.0  1.0  1.0  1.0  1.0  0.0  0.0  0.0  0.0  0.0
2       0.0  1.0  1.0  1.0  1.0  0.0  0.0  0.0  0.0  0.0
3       0.0  1.0  1.0  1.0  1.0  0.0  0.0  0.0  0.0  0.0
4       NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
5       0.0  1.0  1.0  1.0  1.0  0.0  0.0  0.0  0.0  0.0
6       0.0  1.0  1.0  1.0  1.0  0.0  0.0  0.0  0.0  0.0
7       0.0  1.0  1.0  1.0  1.0  0.0  0.0  0.0  0.0  0.0
8       NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
9       0.0  1.0  1.0  1.0  1.0  0.0  0.0  0.0  0.0  0.0
10      1.0  1.0  1.0  2.0  2.0  0.0  0.0  1.0  2.0  2.0
11      1.0  1.0  1.0  1.0  1.0  0.0  0.0  1.0  1.0  1.0
12      0.0  1.0  2.0  1.0  2.0  0.0  0.0  0.0  0.0  0.0
13      0.0  1.0  1.0  1.0  1.0  1.0  1.0  0.0  0.0  0.0
14      0.0  1.0  1.0  1.0  1.0  0.0  0.0  0.0  0.0  0.0
15      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
16      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
17      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
18      0.0  1.0  1.0  1.0  1.0  1.0  1.0  0.0  0.0  0.0
19      0.0  1.0  1.0  1.0  1.0  0.0  0.0  0.0  0.0  0.0
20      0.0  1.0  1.0  1.0  1.0  0.0  0.0  0.0  0.0  0.0
21      0.0  1.0  1.0  1.0  1.0  1.0  1.0  0.0  0.0  0.0
22      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
23      0.0  1.0  1.0  1.0  1.0  1.0  1.0  0.0  0.0  0.0
24      0.0  1.0  1.0  1.0  1.0  1.0  1.0  0.0  0.0  0.0
25      0.0  2.0  2.0  1.0  1.0  2.0  2.0  0.0  0.0  0.0
26      0.0  1.0  1.0  1.0  1.0  0.0  0.0  0.0  0.0  0.0
27      0.0  1.0  1.0  1.0  1.0  0.0  0.0  0.0  0.0  0.0
28      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
29      0.0  1.0  1.0  1.0  1.0  0.0  0.0  0.0  0.0  0.0
...     ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
506661  0.0  1.0  1.0  1.0  1.0  0.0  0.0  0.0  0.0  0.0
506662  0.0  1.0  1.0  1.0  1.0  0.0  0.0  0.0  0.0  0.0
506663  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
506664  0.0  1.0  1.0  1.0  1.0  0.0  0.0  0.0  1.0  1.0
506665  1.0  1.0  1.0  1.0  1.0  0.0  0.0  1.0  1.0  1.0
506666  0.0  1.0  1.0  1.0  1.0  0.0  0.0  0.0  0.0  0.0
506667  0.0  1.0  1.0  1.0  1.0  0.0  0.0  0.0  1.0  1.0
506668  0.0  1.0  1.0  1.0  1.0  1.0  1.0  0.0  0.0  0.0
506669  0.0  1.0  1.0  1.0  1.0  0.0  0.0  0.0  0.0  0.0
506670  1.0  1.0  1.0  1.0  1.0  0.0  0.0  1.0  1.0  1.0
506671  0.0  1.0  1.0  1.0  1.0  1.0  1.0  0.0  0.0  0.0
506672  0.0  1.0  1.0  1.0  1.0  0.0  0.0  0.0  0.0  0.0
506673  0.0  1.0  1.0  1.0  1.0  0.0  0.0  0.0  0.0  0.0
506674  1.0  1.0  1.0  1.0  1.0  0.0  0.0  1.0  1.0  1.0
506675  1.0  1.0  1.0  1.0  1.0  0.0  0.0  1.0  1.0  1.0
506676  1.0  1.0  1.0  1.0  1.0  0.0  0.0  1.0  1.0  1.0
506677  3.0  1.0  1.0  1.0  1.0  0.0  0.0  1.0  1.0  1.0
506678  0.0  1.0  1.0  1.0  1.0  1.0  1.0  0.0  0.0  0.0
506679  2.0  1.0  1.0  1.0  1.0  0.0  0.0  1.0  1.0  1.0
506680  1.0  1.0  1.0  1.0  1.0  0.0  0.0  1.0  1.0  1.0
506681  1.0  1.0  1.0  1.0  1.0  0.0  0.0  1.0  1.0  1.0
506682  0.0  1.0  1.0  1.0  1.0  0.0  0.0  0.0  1.0  1.0
506683  0.0  1.0  1.0  1.0  1.0  1.0  1.0  0.0  0.0  0.0
506684  1.0  1.0  1.0  1.0  1.0  0.0  0.0  1.0  1.0  1.0
506685  1.0  1.0  1.0  1.0  1.0  0.0  0.0  1.0  0.0  0.0
506686  0.0  1.0  1.0  1.0  1.0  0.0  0.0  1.0  1.0  1.0
506687  1.0  1.0  1.0  1.0  1.0  0.0  0.0  1.0  1.0  1.0
506688  0.0  1.0  1.0  1.0  1.0  0.0  0.0  0.0  0.0  0.0
506689  0.0  1.0  1.0  1.0  1.0  0.0  0.0  0.0  0.0  0.0
506690  1.0  1.0  1.0  1.0  1.0  0.0  0.0  1.0  1.0  1.0

[1097231 rows x 35 columns]

index after imputation:  Int64Index([     0,      1,      2,      3,      4,      5,      6,      7,
                 8,      9,
            ...
            506681, 506682, 506683, 506684, 506685, 506686, 506687, 506688,
            506689, 506690],
           dtype='int64', length=1097231)

columns after imputation:  Index(['TransactionID', 'TransactionDT', 'TransactionAmt', 'ProductCD',
       'card1', 'card2', 'card3', 'card4', 'card5', 'card6',
       ...
       'V312', 'V313', 'V314', 'V315', 'V316', 'V317', 'V318', 'V319', 'V320',
       'V321'],
      dtype='object', length=226)

## Clean CATEGORICAL features

### drop features with many missing values

In [58]:
print("shape before dropping many_missing_cat_trans_cols: ", transaction_data.shape, "\n")        
transaction_data = transaction_data.drop(columns = many_missing_cat_trans_cols)
print("shape after dropping many_missing_cat_trans_cols: ", transaction_data.shape, "\n\n")    

print("shape before dropping many_missing_cat_id_cols: ", identity_data.shape, "\n")        
identity_data = identity_data.drop(columns = many_missing_cat_id_cols)
print("shape after dropping many_missing_cat_id_cols: ", identity_data.shape, "\n")


# because we dropped some categorical columns from the dataframe,
# we must create the list 'cat_trans_cols' and
# 'cat_id_cols' again such that the dropped cols are no longer in them
c = (transaction_data.dtypes == 'object')
cat_trans_cols = list(c[c].index) 

c = (identity_data.dtypes == 'object')
cat_id_cols = list(c[c].index)

shape before dropping many_missing_cat_trans_cols:  (1097231, 226)

shape after dropping many_missing_cat_trans_cols:  (1097231, 224)


shape before dropping many_missing_cat_id_cols:  (286140, 33)

shape after dropping many_missing_cat_id_cols:  (286140, 31)

# merge data

In [60]:
df_merged = transaction_data.merge(identity_data, on='TransactionID', how='left')

In [61]:
df_merged.shape

(1097231, 254)